
.board {
    width: 60%;
    margin: 0 auto;
  }
  
  .board-view-button {
    border: 0;
    padding: 10px;
    background-color: #ffd9d9;
  }
  
  .board-row {
    margin: 10px 0;
    display: flex;
  }
  
  .board-row > label:first-child {
    margin: 10px 0;
    width: 30%;
    font-weight: bold;
  }
  
  .board-row > *:nth-child(2) {
    margin: 10px 0;
    width: 70%;
  }